<%= turbo_stream.replace "cell-#{@habit.id}-#{params[:date]}" do %>
  <div class="h-12 flex items-center justify-center border-b border-slate-700/30 <%= params[:date] == Date.current.to_s ? 'bg-teal-900/20' : '' %>"
       id="cell-<%= @habit.id %>-<%= params[:date] %>">
    <%= button_to habit_habit_logs_path(@habit, date: params[:date]),
                  method: :post,
                  class: "w-9 h-9 rounded-full border-2 border-slate-600 hover:border-slate-400 hover:scale-110 transition-all cursor-pointer",
                  data: { turbo_stream: true } do %>
    <% end %>
  </div>
<% end %>

<%= turbo_stream.replace "habit-#{@habit.id}-current" do %>
  <span class="font-semibold text-slate-200" id="habit-<%= @habit.id %>-current"><%= @habit.current_streak %></span>
<% end %>

<%= turbo_stream.replace "habit-#{@habit.id}-longest" do %>
  <span class="font-semibold text-slate-200" id="habit-<%= @habit.id %>-longest"><%= @habit.longest_streak %></span>
<% end %>
